@charset("utf-8");
body{font-size: 12px;font-family: 微软雅黑}
h1,h2,h3,h4,h5,body,p{margin: 0;padding: 0}
h1,h2,h3,h4,h5{font-size: 100%;font-weight: normal;}
a{text-decoration: none;color: #000}

.fl{float: left;}
.fr{float: right;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
/*webkit box*/
.wbv{
	display: box;display:-webkit-box;
	box-orient:vertical;-webkit-box-orient:vertical;
}
.wb{
	display: box;display:-webkit-box;
}
.wb-bac{box-align:center;-webkit-box-align:center;}
.wb-flex1{box-flex:1;-webkit-box-flex:1;}
/*color*/
.red{color: red;}
.blue{color: blue}
.green{color:green}
.orange{color: #E59846}
.color1{color: #888}
/*font-size*/
.fz14{font-size: 14px;}
.fz16{font-size: 16px;}
.fz18{font-size: 18px;}
.fz20{font-size: 20px;}
/*padding*/
.pad8{padding: 8px;}